body {
  margin: 0;
  height: 100vh;
  background-color: antiquewhite;
  color: white;
  display: grid;
  place-content: center;
}

:host {
  position: absolute;
  margin-top: 220px;

}

header {
  display: flex;

  .activator {
    padding: 1em;
    border-radius: 100%;
    cursor: pointer;

    background: burlywood;
  }
}

img {
  width: 100%;
  max-width: 45px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav {
  background-color: rgb(90, 180, 198);
  border-radius: 0 5em 5em 0;
  padding: .5em;
  clip-path: ellipse(50% 50% at -50% 50%);

  ul {
    display: flex;
    height: 59px;

    li a {
      display: block;
      padding: .5em;
      margin: 0 .5em;
      border-radius: 20%;

      &:hover {
        background-color: powderblue;
      }

      img {
        opacity: 1;
        //transform: translateX(-10px);
      }
    }
  }
}

.translate-button {

}
